@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;900&display=swap');

:root {
    --color-primary: #262A2F;
    --color-accent: #FF5533;
    --color-grey: #868686;
    --color-white: #FFF;

    --grid-column-width: 101px;
    --grid-gap: 20px;
}

* {
    all: unset;
    display: revert;
}

body {
    background-color: #EBEBEB;
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    font-weight: 400;
}

.container {
    max-width: 1435px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, var(--grid-column-width));
    gap: var(--grid-gap);
}

.header {
    padding-top: 38px;
    padding-bottom: 150px;
}

.header__navigation .navigation__logo {
    grid-column: span 4;
    padding-right: 32px;
}

.navigation__image {
    width: 100%;
}

.navigation__list {
    grid-column: 5/-1;
    list-style: none;
    display: flex;
    margin: 0 -30px;
}

.navigation__item {
    margin: 0 30px;
}

.navigation__link {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
}

.header__navigation .navigation__link{
    color: var(--color-primary);
}

.header__navigation .navigation__link--active,
.header__navigation .navigation__link:hover{
    color: var(--color-accent);
}

.articles {
    margin-bottom: 135px;
}

.articles__big-column {
    grid-column: span 9;
}

.articles__small-column {
    grid-column: 10/-1;
}

.article-category {
    color: var(--color-accent);
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
}

.article-date {
    color: var(--color-accent);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    margin-right: 18px;
}

.article-source {
    color: var(--color-grey);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
}

.article-date + .article-source::before {
    content: '•';
    padding-right: 14px;
}

.main-article {
    display: grid;
    grid-template-columns: repeat(9, var(--grid-column-width));
    gap: var(--grid-gap);
    margin-bottom: 95px;
}

.main-article:last-child {
    margin-bottom: 0;
}

.main-article__image-container {
    position: relative;
    grid-column: span 3;
    min-height: 185px;
    max-height: 344px;
    overflow: hidden;
}

.main-article__image {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main-article__content {
    grid-column: 4/-1;
    padding-right: 63px;
}

.main-article__category {
    margin-bottom: 7px;
}

.main-article__title {
    color: var(--color-primary);
    font-size: 42px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 34px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.main-article__text {
    color: var(--color-primary);
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 34px;
}

.small-article {
    padding-left: 11px;
    border-left: 9px solid var(--color-primary);
    margin-bottom: 35px;
}

.small-article:last-child {
    margin-bottom: 0;
}

.small-article__title {
    color: var(--color-primary);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 14px;
}

.footer {
    background-color: var(--color-primary);
    padding-top: 22px;
    padding-bottom: 56px;
}

.footer__navigation {
    margin-bottom: 47px;
    align-items: center;
}

.footer__navigation .navigation__logo {
    grid-column: span 2;
    padding-right: 56px;
}

.footer__navigation .navigation__list {
    grid-column: 3/-1;
}

.footer__navigation .navigation__link {
    color: var(--color-white);
}

.footer__column {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer__text {
    color: var(--color-white);
    font-size: 24px;
    line-height: 28px;
}

.footer__link {
    color: var(--color-accent);
    cursor: pointer;
}

.footer__link:hover {
    opacity: 0.8;
}

.footer__copyright {
    color: var(--color-grey);
    font-size: 24px;
    line-height: 28px;
}

.footer__navigation .navigation__link--active,
.footer__navigation .navigation__link:hover{
    color: var(--color-accent);
}
